@use "./variables" as f;

.input-box {
  input {
    border: 1.5px solid f.$PrimaryDesaturatedRed;
    outline-color: f.$PrimaryDesaturatedRed;
    background-color: transparent;
    width: 100%;
    border-radius: 23px;

    &::placeholder {
      color: f.$PrimaryDesaturatedRed;
      font-weight: 500;
    }
  }
}

.btn-submit {
  background: f.$gradient2;
  padding: 10px 23px;
  border-radius: 23px;
  border: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s;
}

.form-group {
  position: relative;
  
  &.error .form-input {
    border: 1.5px solid f.$PrimarySoftRed;
    outline: f.$PrimarySoftRed;
    color: f.$PrimarySoftRed;

    &::placeholder {
      color: f.$PrimarySoftRed;
    }
  }

  &.error .error-message {
    color: f.$PrimarySoftRed;
    text-align: left;
    position: absolute;
  }

  &.error .btn-submit {
    scale: 1.4;
  }
}

.icon-error {
  position: absolute;
  top: 20px;
  right: 100px;
  transform: translateY(-50%);

  img {
    width: 50px;
  }
}

@media (width < 767px) {
  .form-group {
    width: 80vw;
    position: relative;
    input {
      padding: 15px 0;
      padding-left: 25px;

      &::placeholder {
        font-size: 12px;
      }
    }
    &.error .error-message {
      font-size: 11px;
      margin-top: 8px;
      padding-left: 15px;
    }
  }

}

@media (width >= 768px) and (width < 1023px) {
  .form-group {
    position: relative;
    width: 55vw;

    input {
      padding: 18px;

      &::placeholder {
        font-size: 14px;
      }
    }

    &.error .error-message {
      margin-top: 5px;
      padding-left: 10px;
      font-size: 13px;
    }

    &.error .icon-error {
      width: 30px;
      top: 25px;
    }

  }

  .btn-submit {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (width > 1024px) {
  form {
    width: 70%;
  }

  .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .input-box {
      width: 100%;
      input {
        height: 47px;
        padding-left: 23px;
        &::placeholder {
          font-size: 14px;
        }
      }
    }
  }

  .form-group {
    &.error .error-message {
      margin-top: 10px;
      padding: 0 15px;
      font-size: 14px;
    }
  }
}
